<ion-header>
  <ion-toolbar>
    <ion-title>Locais Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="newPlace" placeholder="Adicionar novo local"></ion-input>
    <ion-button (click)="addPlace()">Adicionar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let place of favoritePlaces">
      <ion-label>{{ place }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="goToWeather(place)">Ver Clima</ion-button>
      <ion-button class="remover" fill="outline" slot="end" (click)="removePlace(place)">Remover</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
