<ion-content>

  <p>Cadastro</p>


  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Primeiro Nome</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
      <ion-text color="danger">Primeiro Nome é obrigatório</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
      <ion-text color="danger">Email válido é obrigatório</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
      <ion-text color="danger">Senha é obrigatório (min 6 caracteres)</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="number" formControlName="cpf"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls['cpf'].invalid && (registerForm.controls['cpf'].dirty || registerForm.controls['cpf'].touched)">
      <ion-text color="danger">CPF válido é obrigatório</ion-text>
    </div>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Cadastrar</ion-button>
  </form>
  <div class="login-link">
    <p>Já tem uma conta? <a [routerLink]="['/login']">Entre aqui</a></p>
  </div>
</ion-content>
